.main-category {
    img {
        width: 100%;
        height: 100px;
        object-fit: contain;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 20px;

        li {
            list-style: none;
        }
    }

    button {
        width: 100%;
        border: none;
        background-color: transparent;
    }
}