@import "./variables.css";
@import "./category.css";
@import "./category-single.css";
@import "./combine.css";
@import "./breakpoints.css";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: var(--font-stack);
    padding: 20px;
}

h1 {
    font-size: 34px;
    line-height: 37px;
    margin-bottom: 30px;
}

/* Target */
#category-shirts {
    display: none;
}

#category-shirts:target {
    display: flex;
}

/* Has */
body {
    /* Category shirts */
    &:has(#category-shirts:target) {
        .category {
            display: none;
        }
    } 
}