.category {
    h2 {
        font-size: 20px;
        line-height: 33px;
        margin-bottom: 10px;
    }

    ul {
        font-size: 18px;
        line-height: 30px;

        li {
            margin: 10px 0px;
            list-style: none;
        }
    }
}